=yellow_circle
        width: 36px
        height: 36px
        background-color: $main_color
        border-radius: 100%

=my_icon($path, $m_w, $m_h, $m_l, $m_t)
        position: relative
        +yellow_circle()
        &::after
                position: absolute
                content: ''
                background: url($path) center center/cover no-repeat
                width: $m_w
                height: $m_h
                left: $m_l
                top: $m_t
=skill-count($percent)
        display: block
        width: $percent
        height: 14px
        background-color: $main_color

