@media (max-width: 1793px)
    .container
        width: 65vw
@media (max-width: 1630px)
    .box__story
        margin-top: 20px
    .info-item
        width: 100%
        &__descr
            width: 90%
@media (max-width: 1530px)
    .container
        width: 72vw
@media (max-width: 1320px)
    .container
        width: 77vw
    .social
        left: -10vw
@media (max-width: 1320px)
    .container
        width: 83vw
    .social
        left: -12vw
@media (max-width: 1100px)
    .container
        width: 86vw
    .social
        left: -13vw
@media (max-width: 1035px)
    .container
        width: 95vw
    .social
        display: none
@media (max-width: 957px)
    .about
        padding-top: 40px
    .box
        display: flex
        flex-wrap: wrap
        justify-content: center
        &__story
            margin-top: 20px
.title
    margin-top: 46px
.info-item
    margin-bottom: 20px
@media (max-width: 743px)
    padding: 0 10px
